BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_BASE_URL=https://fapi.binance.com
BINANCE_WS_MAIN=wss://fstream.binance.com/ws

BINANCE_TESTNET=true
BINANCE_TEST_API_KEY=
BINANCE_TEST_API_SECRET=
BINANCE_TEST_BASE_URL=https://testnet.binancefuture.com
BINANCE_WS_TEST=wss://stream.binancefuture.com/ws

BINANCE_TIMEOUT=10
BINANCE_RECV_WINDOW=5000
BINANCE_RETRY_ATTEMPTS=1
BINANCE_RETRY_DELAY=0

PG_DB=gptrader
PG_USER=gptrader
PG_PASSWORD=gptrader
