BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_BASE_URL=https://fapi.binance.com
BINANCE_WS_MAIN=wss://fstream.binance.com/ws

BINANCE_TESTNET=true
BINANCE_TEST_API_KEY=
BINANCE_TEST_API_SECRET=
BINANCE_TEST_BASE_URL=https://testnet.binancefuture.com
BINANCE_WS_TEST=wss://stream.binancefuture.com/ws

BINANCE_TIMEOUT=10
BINANCE_RECV_WINDOW=5000
BINANCE_RETRY_ATTEMPTS=1
BINANCE_RETRY_DELAY=0

GPTRADER_MODE=local
GPTRADER_LIVE_ARMED=false
GPTRADER_SYMBOL=BTCUSDT
GPTRADER_TIMEFRAME=1m
GPTRADER_CANDLE_LIMIT=100
GPTRADER_CLIENT_ORDER_ID_PREFIX=gptrader-local
GPTRADER_GENERATOR_ID=local-generator
GPTRADER_SIGNAL_ID_PREFIX=local-signal
GPTRADER_DB_URL=sqlite:///./gptrader-local.sqlite3

PG_DB=gptrader
PG_USER=gptrader
PG_PASSWORD=gptrader
